.footer {
  background: var(--Main-Colors-Black, #232323);
  color: #fff;
  padding: 40px 16px;
  .footer-logo {
    margin-bottom: 32px;
  }
  .footer-main {
    .first-part-footer {
      display: flex;
      flex-direction: column;
      .about {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        h2 {
          color: var(--Main-Colors-white, #fff);
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
        }
        a {
          color: #919191;
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
        }
      }
      .footer-links {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding: 24px 0 40px;

        a {
          color: var(--Main-Colors-white, #fff);
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
        }
      }
    }
    .contacts {
      .call-to-us {
        h2 {
          color: var(--Main-Colors-white, #fff);
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          padding-bottom: 16px;
        }
        div {
          display: flex;
          column-gap: 6px;
          margin-bottom: 24px;
          h5 {
            color: var(--Main-Colors-white, #fff);

            /* Regular-400/button */
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
      .socials {
        h2 {
          color: var(--Main-Colors-white, #fff);
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          margin-bottom: 16px;
        }
        .social-icons {
          img {
            margin-right: 32px;
          }
        }
      }
    }
  }
  hr {
    margin: 32px 0;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: #919191;
      font-family: "Work Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
    }
    h3 {
      color: #919191;
      font-family: "Work Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
    }
  }
}
@media (min-width: 1200px) {
  .footer {
    background: var(--Main-Colors-Black, #232323);
    color: #fff;
    padding: 40px 60px;
    .footer-logo {
      margin-bottom: 32px;
      width: 200px;
      height: 44px;
      flex-shrink: 0;
    }
    .footer-main {
      display: flex;
      justify-content: space-between;
      .first-part-footer {
        display: flex;
        flex-direction: row;
        column-gap: 32px;
        .about {
          display: flex;
          row-gap: 8px;
          h2 {
            color: var(--Main-Colors-white, #fff);
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
          }
          a {
            color: #919191;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
          }
        }
        .footer-links {
          display: flex;
          flex-direction: row;
          column-gap: 32px;
          padding-top: 0;
          a {
            color: var(--Main-Colors-white, #fff);
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
          }
        }
      }
      .contacts {
        display: flex;
        column-gap: 32px;
        .call-to-us {
          h2 {
            color: var(--Main-Colors-white, #fff);
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            padding-bottom: 16px;
          }
          div {
            display: flex;
            column-gap: 6px;
            margin-bottom: 24px;
            h5 {
              color: var(--Main-Colors-white, #fff);

              /* Regular-400/button */
              font-family: "Work Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%; /* 25.6px */
            }
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        .socials {
          h2 {
            color: var(--Main-Colors-white, #fff);
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-bottom: 16px;
          }
          .social-icons {
            img {
              margin-right: 32px;
            }
          }
        }
      }
    }
    hr {
      margin: 32px 0;
    }
    .copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        color: #919191;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      h3 {
        color: #919191;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
    }
  }
}
